
.prodctimg{
    width: 100%;
    padding:5px;    
}
.product{
    box-shadow: rgba(145,158,171,.2) 0px 5px 5px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 4px 10px 0px;
    border-radius:10px;
    transition: 0.3s;
    background-color: white;
}
.product:hover{
    border: 3px solid #0aad0a;
}
.katext{
    color: #0aad0a;
}
.rating{
    background-color:#0aad0a ;
    color: white;
    width: fit-content;
    border-radius: 25px;
}
.nameproduct{
    font-size: 14px;
    font-weight: 400;
}
.ratingp{
    font-size: 14px;
}
.iconmarket{
    width:40px;
    height:40px;
    background-color: whitesmoke;
    padding:5px;
    border-radius: 50%;
    margin:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(145,158,171,.2) 0px 5px 5px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 4px 10px 0px;
    transition:0.2s;
}
.iconmarket:hover{
    border:3px solid #0aad0a;
}
.kai{
    color: #0aad0a;
    border-radius:20px;
}